<!DOCTYPE html>
<html>
    <head>
    <title>Impressum - Tabula Razas Pokédex</title>
    <meta name="description" content="Impressum von Tabula Raza">
    <meta charset="utf-8">
        
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
</head>

<!-- BODY -->

<body>

    <!-- NAVIGATIONSLEISTE -->
    <nav>
        <ul>
            <li>
                <div name="home">
                    <a href="/">Home</a>
                </div>
            </li>
            <li>
                <div name="user">
                    <a href="/pkUser">Profil</a>
                </div>
            </li>
            <li>
                <div name="impressum">
                    <a href="/about">Impressum</a>
                </div>
            </li>
        </ul>
    </nav>
    
    <!-- DEX -->
    <div class="dex">
        
        <!--LINKER DATENSCHIRM-->
        <!--Auswahlmöglichkeiten-->
        <!--Links MÜSSEN individuelles Padding in Abhängigkeit von der Textlänge bekommen, weil sonst die ganze Schaltfläche
            nicht als Link benutzt werden kann...-->
        <div class="data-left">
            <div class="dl-btn">
                <a href="/pkDex" style="padding: 26px 130px 37px;">Pokédex</a>
            </div>
            <div class="dl-btn">
                <a href="/click" style="padding: 26px 123px 37px">Clickfight!</a>
            </div>
            <div class="dl-btn">
                <a href="/pkTeam" style="padding: 26px 119px 37px">Mein Team</a>
            </div>
            <div class="dl-btn">Links</div>
        </div>
        
        <!--RECHTER DATENSCHIRM-->
        <!--Index: Newsfeed-->
        <div class="data-right">
            <div class="nftitle">
                <h2>Tabula RaZa</h2>
            </div>
            <div style="padding: 0 5px">
                Mittlerweile drei Studenten, ausgestattet mit etwas Grips, ordentlich Bier und übriggelassener Zeit fürs Zocken.<br /><br />
                Javascript: Ron Kersten<br /><br />
                HTML & CSS: Leonid Vilents<br /><br />
                Dokumentation: Jan Kuhlmann<br /><br />
                Wir nehmen grundsätzlich keine Aufträge entgegen.
            </div>
        </div>
    
    </div>
    
    <footer>© Tabula RaZa 2015</footer>

</body>
    
</html>