<html>
    <head>
        <title>PkDex</title>
    </head>
    <body>
        <h1>pkDex</h1>
        <ul>
            <%
            for(var x = 0; x < pkDex.length; x++) {
                %><li><%=pkDex[i].pkm[0].index%></li><%
            });
            %>
        </ul>
    </body>
</html>