<html>
    <head>
        <title>PkUser</title>
    </head>
    <body>
        <h1>pkUser</h1>
        <ul>
            <%
            pkUser.forEach(function(pkUser) {
                %><li><%=pkUser.user[0].sign%></li><%
                %><li><%=pkUser.user[1].name%></li><%
                %><li><%=pkUser.user[2].atr%></li><%
            });
            %>
        </ul>
    </body>
</html>